extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='name') UserName: 
    input(type='text', name='username')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    label(for='age') Email: 
    input(type='text', name='email')
    br
    label(for='age') Password: 
    input(type='text', name='password')
    br
    label(for='Q1') when did halo first release?: 
    select(name='Q1')
      option(value="") 2000
      option(value="") 2001
      option(value="") 2002
      option(value="") 2003
    br
    label(for='Q2') Can a match box?: 
    select(name='Q2')
      option(value="") No, but a tin can
      option(value="") What?
      option(value="") Maybe
      option(value="") Yes
    br
    label(for='Q3') which word is spelled incorrectly in the dictionary?: 
    select(name='Q3')
      option(value="") Spelled
      option(value="") Dictionary
      option(value="") Your
      option(value="") Incorrectly
    br
    input(type='submit', value='Add Person')
